.form {
  position: fixed;
  z-index: 34444;
  width: 100%;
  height: 100vh;
  left: 0;
}

@media screen and (max-width: 900px) {
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 560px) {
  .form {
    form {
      width: 90%;
    }
  }
}
