@media screen and (max-width:900px) {
  .form{
    margin: 50px 100px!important;
  }
}
@media screen and (max-width:650px) {
  .form{
    margin: 50px 0px 50px 90px!important;
  }
}
@media screen and (max-width:560px) {
  .form{
    margin: 50px 0px 50px 0px!important;
  }
}