.dashboard-invoices {
  width: 95%;
  margin: 0 80px 0px 80px;
}
.dashboard-invoice {
  padding: 20px;
  width: 23%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: url(./../../assets//svg/Ellipse.svg) no-repeat;
  background-position: right bottom;
}
.transaction {
  width: 70%;
  height: 490px;
  background: var(--card);
}
.stastics {
  width: 29%;
  height: 490px;
  background: var(--card);
}
.static-bar {
  overflow-x: scroll;
}
.balance {
  width: 300px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(247.35deg, #936dff 0%, #3ed1ff 100%);
  border-radius: 20px;
}

.bg-balance {
  // position: absolute;
  width: 100%;
  padding: 40px;
  background: url(../.././assets//svg/Ellipse23.png) no-repeat 250px -50px,
    url(./../../assets/svg/Ellipse25.png) no-repeat 160px -20px,
    url(./../../assets/svg/Ellipse24.png) no-repeat 30px 155px;
}
.balance-details {
  background: var(--card);
  border-radius: 20px;
}
.activity-inner{
  background: var(--card);
}
.total-title {
  font-size: 11px;
}
.total-price-title {
  font-size: 18px;
  line-height: 18px;
}
@media screen and (max-width: 1067px) {
  .wrapper-balance {
    flex-wrap: wrap;
  }
  .balance-details {
    width: 48% !important;
  }
  .activity {
    width: 100% !important;
  }
}
@media screen and (max-width: 1050px) {
  .dashboard-invoices {
    width: 92%;
  }
  .static-bar {
    overflow-x: scroll;
  }
  .dashboard-invoice {
    width: 49%;
  }
}
@media screen and (max-width: 980px) {
  .transaction {
    width: 100% !important;
  }
  .static-bar {
    overflow-x: scroll;
  }
  .recharts-wrapper {
    width: 100% !important;
    height: 300px !important;
  }
  // .recharts-surface{
  //   width: 100%!important;
  //   height: 300px!important;
  // }
  .pie-dashboard{
    width: 100%!important;
  }
  .stastics {
    width: 100%;
    img {
      width: 80%;
      height: 340px;
    }
  }
  .action-list {
    width: 100% !important;
    overflow-x: scroll;
    li {
      width: 800px;
    }
  }
  .latest-action {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-items: center;
  }
}
@media screen and (max-width: 740px) {
  .balance-details {
    width: 100% !important;
  }
  .activit-bar {
    // width: 500px!important;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 560px) {
  .dashboard-invoices {
    width: 100%;
    margin: 0 !important;
  }
  .dashboard-graphics {
    padding: 0 !important;
  }
}
@media screen and (max-width: 470px) {
  .dashboard-invoice {
    justify-content: flex-start !important;
    width: 48%;
  }
}
@media screen and (max-width: 370px) {
  .wrapper-balance {
    padding: 0 !important;
  }
  .balance-wrap{
    padding: 0!important;
  }
  .balance{
    width: 100%;
  }
}
