.nav-item {
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  background-color: var(--body);
}
.nav-item:hover{
  box-shadow: 1px 3px 10px 2px #ff481a4d;
}
.navbar {
  // position: fixed;
  // bottom: -80px;
  // top: 80px;/
  border-radius: 10px;
  z-index: 1;
  background: var(--card);
}
.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #c21616;
  width: 200px;
  height: 150px;
}
.nav-list {
  padding: 40px 10px; 
  padding-top: 10px;
  // height: 400px;
}
.item {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--title);
}
.nav-title {
  color: var(--title);
}
.nav-item {
  font-size: 12px;
  svg {
    width: 26px;
    height: 26px;
  }
}
.nav-list{
  flex-wrap: wrap;
}
@media screen and (max-width: 560px) {
  .navbar {
    width: 100% !important;
    bottom: 0% !important;
    // padding: 0px 0px !important;
    // height: 80px !important;
    z-index: 5;
    display: flex;
    // top: 93%;
    border-bottom-right-radius:0px!important;
    border-bottom-left-radius: 0px!important;
    flex-direction: row !important;
    align-items: center;
    .nav-list {
      // padding: 0 !important;
      // justify-content: space-between;
      flex-direction: row !important;
    }
    .logo-link {
      display: none;
    }
    .btn-log {
      display: none;
    }
  }
  .nav-item {
    font-size: 12px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  .nav-item:hover {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}
// @media screen and (max-width: 480px) {
//   .nav-item {
//     width: 40px !important;
//     height: 40px !important;
//     font-size: 10px;
//     svg {
//       width: 22px;
//       height: 22px;
//     }
//   }
//   .navbar {
//     height: 70px !important;
//   }
// }
