@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --body: #e5f3ec;
  --card: #85d1cbf3;
  --title: #000000;
  --text: #041912;
  --order: #a3999b;
}
.dark {
  --body: #111;
  --card: #2f2f2f;
  --title: #f6f6f6;
  --text: #ffcb74;
  --order: #20232bc5;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--body);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
